{% extends "admin/change_list.html" %}

{% block object-tools %}
    {{ block.super }}
    {% if ielts_change_url %}
    <li>
        <a href="{{ ielts_change_url }}" class="addlink">Chỉnh sửa điểm IELTS</a>
    </li>
    {% if ielts_delete_url %}
    <li>
        <a href="{{ ielts_delete_url }}" class="deletelink">Xóa điểm IELTS</a>
    </li>
    {% endif %}
    {% elif ielts_add_url %}
    <li>
        <a href="{{ ielts_add_url }}" class="addlink">Tạo điểm IELTS</a>
    </li>
    {% endif %}
{% endblock %}
